/**** Heres' a comme**************************/
body {
  color: #3a3a39;
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Georgia, Times, serif; }

a {
  color: #3d52bb;
  text-decoration: none; }

#block-system-main-menu ul {
  background: #3d52bb;
  border-bottom: 1px solid #3d52bb; }
  #block-system-main-menu ul li {
    display: inline;
    list-style-image: none; }
    #block-system-main-menu ul li a {
      display: inline-block;
      color: #ffffff; }
      #block-system-main-menu ul li a:hover {
        color: #808ebb; }

.node-teaser {
  margin-bottom: 80px;
  padding: 40px 20px 48px;
  border: 1px dotted #3a3a39; }

.links a, .submitted {
  background: #ecffdf;
  font-weight: bold;
  padding: 3px 5px;
  margin-bottom: 5px; }
